<div class="navbar navbar-default navbar-static-top">
   <div class="container">
   <div>
    <a class="navbar-brand" href="#" >Associate-Manager Interaction Portal</a>
    <a class="navbar-brand navbar-right" href='users/sign_out' method: :delete >Log Out</a>
</div>
   </div>
 </div>
<h3> Create a new request</h3><br>
<%= form_for @associate, url: associates_path, :validate => true do |f| %>

<%= f.label :REASON %><br>
<%= f.text_field :leave_approval%><br>

<br>
   <%= f.label :START_DATE %><br>
   <%= f.date_field :start_date%><br>
<br>
   <%= f.label :END_DATE %><br>
   <%= f.date_field :end_date%><br>
<br>
<%= f.label :leave_type %><br>
<%= f.select :type_of_request, ["Work From Home","Vacation"]%><br>
<br>
<tr>
 <%= f.submit "Save" %>
<%= f.submit "Cancel" %>
 </tr>
<% end %>
